
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Courier New', Courier, monospace;
}

:root {
    --bg-color: #17181a;
    --second-bg-color: #000000;
    --text-color: #e26b0a;
    --main-color: #8f6db7;
    --second-color: #f8a150;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-family: "Orbitron", sans-serif;
}

.logo:hover {
    color: var(--second-color);
    text-shadow: 
    0 0 7px var(--text-color),
    0 0 10px var(--text-color),
    0 0 21px var(--text-color),
    0 0 42px var(--text-color),
    0 0 82px var(--text-color),
    0 0 92px var(--text-color),
    0 0 102px var(--text-color);
}

body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: auto;
    background-color: var(--bg-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.category-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    flex: 1 1 40rem;
    justify-content: space-evenly;
}

.category-column {
    justify-content: center;
    align-items: center;
}

.category-box {
    position: relative;
    color: var(--bg-color);
    /* border: .2rem solid var(--second-color); */
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
    max-width: 50rem;
    min-width: 20rem;
    min-height: 25rem;
}

.category-box:hover {
    transition: all 0.1s ease-out;
    box-shadow: 0 4px 8px var(--bg-color);
    transform: translateY(-2px);
    top: -4px;
}

.entrees {
    background-image: url(imgs/teriyaki-salmon.jpeg);
}

.sides {
    background-image: url(imgs/mushrooms-broccoli.jpeg);
}

.desserts {
    background-image: url(imgs/dessert-placeholder.jpeg);
}

.drinks {
    background-image: url(imgs/drinks-placeholder.jpeg);
}

.category-name {
    font-size: 1.7rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    background: transparent;
    height: fit-content;
    text-shadow: var(--text-color) 1px 0 10px;
    padding: 5px 0 0 0;
}

.category-picture {
    margin: 1.5rem 0;
    max-width: 47rem;
    overflow: hidden;
}

.recipe-container {
    padding: 300px 0 0 0;
}

.recipe-row {
    position: absolute;
    height: 300px;
    width: 1000px;
    top: 200px;
    left: calc(50% - 500px);
    display: flex;
  }

.recipe-card {
    height: 200px;
    width: 280px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

.recipe-card:not(:first-child) {
    margin-left: -50px;
}

.recipe-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.recipe-card:hover ~ .recipe-card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.recipe-title {
    color: var(--text-color);
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }

  .recipe-picture {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 150px;
    width: 150px;
  }

  .recipe-description {
    position: absolute;
    top: 150px;
    left: calc(50% - 120px);
  }

h2{
    margin: 10px;
}

.button {
    display: flex;
    justify-content: center;
    width: 225px;
    font-family: Copperplate, fantasy;
    font-size: large;
    font-style: italic;
    font-weight: 900;
    color:rgb(182, 144, 226);
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 300px;
    border-radius: 10px;
    background: url(https://i.imgur.com/9SM4mxU.jpeg) no-repeat;
}


.categories{
    max-width: 300px;
}

ul {
    margin: 0px;
}

img {
    height: auto;
    width: 450px;
}

a {
    text-decoration: none;
    color: black;
}

/* a:hover {
    color: rgb(182, 144, 226);
} */
.footer {
    background-color:  rgb(16, 16, 16);
    color: rgb(182, 144, 226);
    text-align: center;
    margin-top: auto;
    padding: 12px;
}